AUTH_SECRET={AUTH_SECRET}
DATABASE_URL={DATABASE_URL}
AUTH_GOOGLE_ID={GOOGLE_CLIENT_ID}
AUTH_GOOGLE_SECRET={GOOGLE_CLIENT_SECRET}
AUTH_LINKEDIN_ID={LINKEDIN_CLIENT_ID}
AUTH_LINKEDIN_SECRET={LINKEDIN_CLIENT_SECRET}
GEMINI_API_KEY={GEMINI_API_KEY}
ADMIN_EMAIL={ADMIN_EMAIL}
NEXT_PUBLIC_ADMIN_EMAIL={ADMIN_EMAIL}
NEXT_PUBLIC_BASE_URL={BASE_URL}
WEATHER_API={WEATHER_API}
DODO_PAYMENTS_API_KEY={DODO_PAYMENTS_API_KEY}
NEXT_PUBLIC_DODO_WEBHOOK_KEY={NEXT_PUBLIC_DODO_WEBHOOK_KEY}
GOOGLE_NOTIFICATION_SERIVCE_AUTH_ID=
GOOGLE_NOTIFICATION_SERIVE_REDIRECT_URL=
