AUTH_SECRET={AUTH_SECRET}
DATABASE_URL={DATABASE_URL}
AUTH_GOOGLE_ID={GOOGLE_CLIENT_ID}
AUTH_GOOGLE_SECRET={GOOGLE_CLIENT_SECRET}
AUTH_LINKEDIN_ID={LINKEDIN_CLIENT_ID}
AUTH_LINKEDIN_SECRET={LINKEDIN_CLIENT_SECRET}
GEMINI_API_KEY={GEMINI_API_KEY}
ADMIN_EMAIL={ADMIN_EMAIL}