/* LTWave Regular */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Regular.woff') format('woff'),
       url('/LTWave-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* LTWave Bold */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* LTWave Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* LTWave Bold Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* LTWave Light */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* LTWave Light Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* LTWave Thin */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* LTWave Thin Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

/* LTWave Black */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* LTWave Black Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

/* LTWave Medium */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* LTWave Medium Italic */
@font-face {
  font-family: 'LTWave';
  src: url('/LTWave-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

